body{
margin:0;
display:flex;
font-family:Arial;
}

.sidebar{
width:220px;
background:#0f172a;
color:white;
padding:20px;
}

.board{
display:flex;
gap:20px;
padding:20px;
}

.column{
width:300px;
background:#f1f5f9;
padding:10px;
border-radius:6px;
}

.card{
background:white;
padding:10px;
margin-top:10px;
border-radius:5px;
cursor:grab;
}
